@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  @apply bg-slate-50 text-slate-800;
}

/* Scrollbar discrete pour les tables. */
.thin-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded;
}
